/* Root Styles / Variables */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background-color: #fff;
  --text-color: #000;
  --border-color: #999;
  --default-border: 2px solid var(--border-color);
  --shadow-color: #0007;
  --accent-color: #4fdc3f;
  --accent-hover: #3fc02f;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 3rem 0 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  background-color: var(--background-color);
  box-shadow: 0 0 5px 4px var(--shadow-color);
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5rem;
}

.logo h1 {
  margin: .25rem 0;
  font-size: 1rem;
  font-weight: 900;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

/* Search Bar Styles */

.search {
  position: relative;
  max-width: 300px;
  height: 1.5rem;
  margin: .25rem 0;
}

.search-bar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: var(--default-border);
  border-radius: .75rem;
}

.search-bar-input {
  width: 100%;
  height: 100%;
  padding: 0 .5rem;
  background-color: #fff0;
  border: none;
  border-radius: .75rem;
  font-size: inherit;
  font-family: inherit;
}

.search-icon {
  position: absolute;
  top: 0;
  right: 8px;
  height: 100%;
  padding: 4px;
  pointer-events: none;
}

.search-queries {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: var(--default-border);
  border-radius: .75rem;
}

.search-query-entry {
  padding: 0 .5rem;
  background-color: #fff0;
  border: none;
  text-align: left;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.search-query-entry:hover {
  text-decoration: underline;
}

/* Subreddit List Styles */

.subreddit-list {
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  position: fixed;
  left: 2rem;
  top: 200px;
  box-sizing: content-box;
  max-width: 240px;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: 2px 4px 5px var(--shadow-color);
}

.subreddit-btn-base,
.subreddit-add-btn,
.subreddit-add-input {
  --topic-bg: var(--accent-color);

  display: flex;
  flex-flow: row nowrap;
  width: 240px;
  margin: 2px;
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  background-color: var(--topic-bg);
  color: #fff;
  border: 4px solid var(--topic-bg);
  box-shadow: 2px 4px 5px var(--shadow-color);
  border-radius: 1rem;
  cursor: pointer;
}

.subreddit-btn-base.selected,
.subreddit-btn-base:focus-within {
  border: 4px solid #fff;
}

.subreddit-btn-base:has(.subreddit-btn:hover:not(:active)) {
  --topic-bg: var(--accent-hover);
}

.subreddit-add-btn {
  background-color: #fff;
  color: #000;
}

.subreddit-add-btn:hover:not(:active) {
  background-color: #eee;
}

.subreddit-add-input {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 0 3px #0007;
  cursor: text;
}

.subreddit-btn {
  width: 100%;
  height: auto;
  background: none;
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

.subreddit-remove-btn {
  background: none;
  border: none;
  opacity: 80%;
  cursor: pointer;
}

.subreddit-remove-btn:hover,
.subreddit-remove-btn:focus {
  outline: none;
  opacity: 100%;
}

.subreddit-remove-btn:active {
  opacity: 60%;
}

.subreddit-remove-btn>img {
  width: 100%;
  height: 100%;
}

/* Post Styles */

.post-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: 700px;
  margin: 20px auto;
}

.post {
  width: 100%;
  min-width: 240px;
  padding: .5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 2px 4px 5px #0007;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s;
}

.post:hover,
.post:focus {
  box-shadow: 3px 5px 5px 4px #0007;
}

.post:active {
  box-shadow: 2px 4px 5px #0007;
}

.post-heading {
  margin: .5rem;
  text-align: left;
  font-weight: 900;
}

.post-author {
  opacity: 50%;
  margin: .5rem;
}

.post-thumbnail {
  max-height: 16rem;
  margin: 1rem 2rem;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #0007;
}

.post-stats {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin: .25rem 1rem;
}

.stats-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.stats-column * {
  margin: 0;
}

/* Loading Spinner */

@keyframes loading-spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.loading-spinner {
  position: absolute;
  left: calc(50vw - 75px);
  top: calc(50vh - 75px);
  width: 150px;
  height: 150px;
  animation: 1s linear infinite loading-spin;
}

/* Adjust for dark theme. */

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #fff;
  }

  .stats-column img,
  .loading-spinner {
    filter: invert();
  }
}
