/* Root Styles / Variables */

:root {
  --background-color: #fff;
  --text-color: #000;
  --border-color: #999;
  --default-border: 2px solid var(--border-color);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: sans-serif;
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
}

/* Search Bar Styles */

.search {
  position: relative;
  max-width: 300px;
  height: 1.5rem;
}

.search-bar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: var(--default-border);
  border-radius: .75rem;
}

.search-bar-input {
  width: 100%;
  height: 100%;
  padding: 0 .5rem;
  background-color: #fff0;
  border: none;
  border-radius: .75rem;
  font-size: inherit;
  font-family: inherit;
}

.search-icon {
  position: absolute;
  top: 0;
  right: 8px;
  height: 100%;
  padding: 4px;
  pointer-events: none;
}

.search-queries {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: var(--default-border);
  border-radius: .75rem;
}

.search-query-entry {
  padding: 0 .5rem;
  background-color: #fff0;
  border: none;
  text-align: left;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.search-query-entry:hover {
  text-decoration: underline;
}

/* Subreddit List Styles */

.subreddit-btn-base,
.subreddit-add-btn,
.subreddit-add-input {
  --topic-bg: #0af;
  --topic-border-color: #fff0;
  --topic-hover-bg: #4cf;

  display: flex;
  flex-flow: row nowrap;
  width: 240px;
  margin: 2px;
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  background-color: var(--topic-bg);
  color: #fff;
  border: none;
  box-shadow:
    0 0 0 2px var(--topic-border-color),
    0 0 0 3px #0007;
  border-radius: 1rem;
  cursor: pointer;
}

.subreddit-btn-base.selected,
.subreddit-btn-base:focus-within {
  --topic-border-color: #fff;
}

.subreddit-btn-base:has(.subreddit-btn:hover:not(:active)),
.subreddit-add-btn:hover:not(:active) {
  background-color: var(--topic-hover-bg)
}

.subreddit-add-input {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 0 3px #0007;
  cursor: text;
}

.subreddit-btn {
  width: 100%;
  height: auto;
  background: none;
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

.subreddit-remove-btn {
  background: none;
  border: none;
  opacity: 80%;
  cursor: pointer;
}

.subreddit-remove-btn:hover,
.subreddit-remove-btn:focus {
  outline: none;
  opacity: 100%;
}

.subreddit-remove-btn:active {
  opacity: 60%;
}

.subreddit-remove-btn>img {
  width: 100%;
  height: 100%;
}

.topics-list {
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  position: absolute;
  left: .5rem;
  top: 200px;
  max-width: 240px;
}

.topic {
  --topic-bg: #0af;
  --topic-hover-bg: #4cf;
  --topic-active-bg: #08e;

  width: 240px;
  padding: 4px 8px;
  font-size: 0.8rem;
  text-align: right;
  background-color: var(--topic-bg);
  border: 2px solid #fff0;
  border-radius: 1rem;
}

.topic:focus {
  border: 2px solid #fff;
  outline: 2px solid var(--topic-bg);
}

.topic:hover {
  background-color: var(--topic-hover-bg);
}

.topic:active {
  background-color: var(--topic-active-bg);
}

/* Post Styles */

.post-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: 700px;
  margin: 20px auto;
}

.post {
  width: 100%;
  min-width: 240px;
  padding: .5rem;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 2px 4px 5px #0007;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s;
}

.post:hover,
.post:focus {
  box-shadow: 3px 5px 5px 4px #0007;
}

.post:active {
  box-shadow: 2px 4px 5px #0007;
}

.post-heading {
  margin: .5rem;
  text-align: left;
}

.post-author {
  opacity: 50%;
  margin: .5rem;
}

.post-thumbnail {
  max-height: 16rem;
  margin: 1rem 2rem;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 2px 4px 5px #0007;
}

.post-stats {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin: .25rem 1rem;
}

.stats-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.stats-column * {
  margin: 0;
}
